[submodule "cookbooks/vms"]
	path = cookbooks/vms
	url = https://github.com/gridcentric/vms-cookbook.git
[submodule "cookbooks/canary"]
	path = cookbooks/canary
	url = git://github.com/gridcentric/canary-cookbook.git
